/*<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 100 to 900 */

body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}


.navbar-container {
  background-color: #262B37;

}


.about-cotainer {
  background-color: #0BCEAF;

}

.education-container {
  background-color: #EEEEEE;

}

.bg-bluetype {
  color: darkblue;
  text-decoration: underline;
}

.bg-backgroundtype {}

.redtype-color {}

.circle {

  background-color: #7CB9E8;
  height: 150px;
  width: 150px;
  border-radius: 50%;


}


.project-container {
  background-color: #318CE7;

}


.footer {
  background-color: #01BBBC;
}


/* ##V2.0 -New added */
.iconCircle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  font-size: 38px;
  text-align: center;
  color: #01BBBC;
}

.iconCircle:hover {
  background-color: black;
  color: whitesmoke;
}



/* ##V2.0 -Button Behavior added & DELETEDS*/


.progress {
  border-radius: 10px;
}

.progress .progress-bar {
  width: 0px;
  border-radius: 10px;
  transition: 2s;
}




.expertise-section {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.expertise-title {
  text-align: center;
  margin-bottom: 30px;
}

.expertise-item {
  background-color: #01BBBC;
  color: white;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}


/* v2.0 making h3, h5 tag always have underlines */
h3,
h5 {
  text-decoration: underline;
}

/* v2.0 making the image have fixed heights and widths */
.img-fixed-height {
  height: 200px;
  /* Set your desired fixed height */
  object-fit: cover;
  /* This will crop the image to fit the container while maintaining aspect ratio */
}



/* V2.3- the css is used in making video have a responsive nature and expand fully trough the available space. */
 .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }